@page
@model IndexModel
@{
    ViewData["ActivePage"] = "Home";
    ViewData["Title"] = "Home";
}


<div class="layout-centered">
    <vc:editorial-features sys="@Model.SystemProperties"></vc:editorial-features>
</div>

<div class="modules-container">
    @if (Model.IndexPage.ContentModules == null || Model.IndexPage.ContentModules.Count == 0)
    {
        @Html.Partial("NoContent")
    }
    else
    {
        @foreach (var module in Model.IndexPage.ContentModules)
        {
            @Html.Partial(module.GetType().Name, module)
        }
    }
</div>
