@model Course

<div class="course-card">
    <div class="course-card__categories">
        @if (Model.Categories != null && Model.Categories.Any())
        {
            foreach (var category in Model.Categories)
            {
                <div class="course-card__category"><a class="course-card__category-link" href="/courses/categories/@category.Slug">@category.Title</a></div>
            }
        }
    </div>
    <h2 class="course-card__title"><a href="/courses/@Model.Slug">@Model.Title</a> <vc:entry-state sys="new[] { Model.Sys }"></vc:entry-state></h2>
    
    <p class="course-card__description">
        @Model.ShortDescription
    </p>
    <div class="course-card__link-wrapper">
        <a class="course-card__link" href="/courses/@Model.Slug">@Localizer["viewCourseLabel"]</a>
    </div>
</div>
