<div class="module">
    <h2>@Localizer["noContentLabel"]</h2>

    <h3>@Localizer["hintsLabel"]</h3>
    <ul>
        <li>@Localizer["notFoundErrorHint"] </li>
        <li>@Localizer["draftOrPublishedErrorHint"]</li>
    </ul>
</div>