@model TheExampleApp.ViewComponents.EntryStateModel

@if (Model.Draft)
{
    <div class="editorial-features__item">
        <div class="pill pill--draft">
            @Localizer["draftLabel"]
        </div>
    </div>
}
@if (Model.PendingChanges)
{
    <div class="editorial-features__item">
        <div class="pill pill--pending-changes">
            @Localizer["pendingChangesLabel"]
        </div>
    </div>
}
